.dashboard__wrapper {
    background: $very-light-grey;
    // background: $purple-gradient, url("../assets/images/bg4.jpg") no-repeat center;
    background-size: cover;
}

.dashboard__grid {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 90vh;
    // padding: $padding-s 0;
    
    h1 {
        // padding-bottom: $padding-s;
        @include header;
        // color: white;
    }
    p {
        font-size: $font-s;
    }
}

.dashboard__grid__lists {
    padding: $padding-s;
}

.dashboard__grid__panel {
    padding: $padding-s;
    padding-bottom: 0;
    .dashboard__grid__panel__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin: 0 $padding-s;
        background: white;
        border-radius: 20px;
        padding: 10px $padding-s;
        @include boxshadow;
        h2 {
            color: $light-grey;
            font-weight: 400;
        }
        .dashboard__grid__panel__box__mostCompleted {
            p {
                text-align: left;
                padding-left: 10px;
                margin: 10px;
                font-size: $font-s;
            }
        }
    }
}

.dashboard__empty {
    h2 {
        padding-top: $padding-s;
        color: $light-grey;
        font-weight: 400;
        font-size: $font-m;
    }
    button {
        margin-top: $padding-s;
        display: block;
    }
}

.dashboard__grid__lists__item {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px $padding-s;
    word-break: break-word;
    // border: 2px solid $light-grey;
    border-radius: 20px;
    margin: $padding-s 0;
    @include boxshadow;
    h2 {
        color: $off-purple;
        cursor: pointer;
        margin: 10px 0;
    }
    i, svg {
        color: $light-grey;
        &:hover {
            color: $off-grey;
            cursor: pointer;
        }
    }
}

@media (min-width: $desktop-breakpoint) {
    .dashboard__grid {
        grid-template-columns: 1fr 3fr;
    }

    .dashboard__empty {
        button {
            display: none;
        }
    }

    .dashboard__grid__lists {
        margin: 0 $padding-s;
    }
}