.dashboard__banner {
    background: $purple-gradient, url("../assets/images/bg5.jpg") no-repeat center;
    // text-align: center;
    color: white;
    padding: 100px $padding-s $padding-s $padding-s;
    p {
        font-size: $font-m;
    }
    button {
        display: block;
        margin-top: 10px;
    }
}


@media (min-width: $desktop-breakpoint) {
    .dashboard__banner {
        display: none;
    }
}