.sidebar {
    display: none;
}


@media (min-width: $desktop-breakpoint) {
    .sidebar {
        background: white;
        background-size: cover;
        display: block;
        padding: $padding-s;
        @include boxshadow;
        h1 {
            text-align: center;
        }
        .sidebar__img {
            padding: 0 $padding-m;
        }
        img {
            width: 100%;
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
        }
    }

    .sidebar__grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: $padding-s;
        i, svg, h2 {
            color: $light-grey;
            font-size: $font-s;
            font-weight: 400;
        }
        h2 {
            margin: 10px 0;
        }
        .sidebar__grid__link {
            &:hover {
                cursor: pointer;
                color: $off-purple;
            }
        }
    }
}