.blog__post {
    // border-radius: 20px;
    // max-width: 100%;
    margin: 0 5px $padding-s 5px;
    background: white;
    min-height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // border: 1px solid $light-grey;
    // @include boxshadow;
    .blog__post__img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        p {
            opacity: 0;
        }
    }
    p {
        // margin: 0;
        margin-bottom: 5px;
        color: $light-grey;
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
    }
    h2 {
        @include header;
        margin: 0;
        margin-bottom: 10px;
        font-size: 24px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // max-width: 100%;
    }
    hr {
        margin: 0;
    }
}

.blog__post__text {
    padding: 0 20px;
    position: relative;
    .blog__post__text__author {
        margin-bottom: 50px;
    }
}

.blog__post__text__comments {
    // width: 80%;
    // display: flex;
    position: absolute;
    // justify-content: space-between;
    bottom: 10px;
    text-align: right;
    i, svg {
        margin-left: 5px;
        // color: $off-purple;
    }
}

@media (min-width: $desktop-breakpoint) {
    .blog__post {
        // height: 280px;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out;
        h2 {
            -webkit-transition: color .5s ease-out;
            -moz-transition: color .5s ease-out;
            -o-transition: color .5s ease-out;
            transition: color .5s ease-out;
        }
        &:hover {
            // @include boxshadow;
            background: $off-purple;
            
            .blog__post__img {
                p {
                    // display: inherit;
                    opacity: 1;
                }
                .blog__post__img__overlay {
                    // display: inherit;
                    opacity: 1;
                }
            }
            h2 {
                // color: $off-purple;
                color: white;
            }
        }
        .blog__mainPost {
            h2 {
                font-size: 2.3em;
            }
        }
        .blog__post__img {
            position: relative;
            p {
                @include header;
                bottom: 10px;
                right: 10px;
                position: absolute;
                color: white;
                font-size: $font-m;
                opacity: 0;
                -webkit-transition: opacity .5s ease-out;
                -moz-transition: opacity .5s ease-out;
                -o-transition: opacity .5s ease-out;
                transition: opacity .5s ease-out;
            }
            .blog__post__img__overlay {
                height: 100%;
                width: 100%;
                background: rgba(5, 5, 5, 0.6);
                // display: none;
                opacity: 0.1;
                -webkit-transition: opacity .5s ease-out;
                -moz-transition: opacity .5s ease-out;
                -o-transition: opacity .5s ease-out;
                transition: opacity .5s ease-out;
            }
            
        }
    }

    
}