.blog__background {
    background-color: $very-light-grey;
}

.blog__grid {
    display: grid;
    padding: $padding-m 0;
}

.blog__grid__error {
    background-color: $very-light-grey;
    padding: $padding-l 0;
    margin: 0;
    text-align: center;
}

@media (min-width: $desktop-breakpoint) {
    .blog__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}