.panels__grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: $padding-m 0 $padding-m 0;
    width: 80%;
    margin: 0 auto;
    // background: white;
    // border-radius: 20px;
    // @include boxshadow;
    img {
        width: 100%;
    }
    h2 {
        @include header;
        color: $off-purple;
        font-size: $font-l;
        // padding-top: $padding-s;
    }
    p {
        font-size: $font-s;
        color: $light-grey;
        margin: 0;
        padding-top: 5px;
    }
    div {
        padding: 20px 0;
    }
}

@media (min-width: $desktop-breakpoint) {
    .panels__grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        div {
            padding: 20px;
        }
    }
}