.blogPost__content {
    padding: $padding-s 0;
    background: $light-purple;
    h1 {
        @include header;
    }
    img {
        padding: $padding-s 0;
        width: 100%;
    }
    a {
        color: $off-purple;
        font-weight: bolder;
    }
    span {
        font-style: italic;
    }
}

.blogPost__backLink {
    color: $off-purple;
    padding-bottom: $padding-s;
    p {
        display: inline;
    }
}

.blogPost__content__byline {
    color: $light-grey;
    font-weight: 400;
}

.blogPost__content__text {
    font-size: $font-s;
}

.blogPost__content__panel {   
    background: white;
    box-sizing: border-box;
    padding: $padding-s;
    @include boxshadow;
}

.blogPost__content__commentBox {
    padding: $padding-s;
    margin: $padding-s 0;
    background: white;
    @include boxshadow;
    h1 {
        margin-bottom: $padding-s;
    }
    textarea {
        box-sizing: border-box;
        width: 100%;
        resize: none;
        border-radius: 20px;
        padding: 15px;
        border: 1px solid $light-grey;
        margin-bottom: 10px;
    }
    .blogPost__content__commentBox__button {
        text-align: center;
        button {
            width: 100%;
        }
    }
}

.blogPost__content__comments {
    padding: $padding-s;
    margin: $padding-s 0;
    h1 {
        margin-bottom: $padding-s;
    }
}

.blogPost__content__comments__comment {
    background: white;
    padding: 20px;
    margin: 10px 0;
    p, h3 {
        margin: 5px;
    }
    h3 {
        color: $off-purple;
    }
}

.blogPost__content__comments__comment__bottomDiv {
    display: flex;
    justify-content: space-between;
}

@media (min-width: $desktop-breakpoint) {
    .blogPost__content__commentBox {
        .blogPost__content__commentBox__button {
            text-align: right;
            button {
                width: auto;
            }
        }
    }

    .blogPost__content__comments__comment {
        span {
            &:hover {
                cursor: pointer;
                color: $light-grey;
            }
        }
    }
}