.blogPost__grid {
    display: grid;
}

.blogPost__container {
    background: $light-purple;
    padding-top: 77px;
    .container-l {
        margin: 0 auto;
        width: 95%;
    }
}

@media (min-width: $desktop-breakpoint) {
    .blogPost__container {
        background: $light-purple;
    }

    .blogPost__grid {
        grid-template-columns: 1fr 3fr;
    }
}