.listPage__addQuestion {
    display: block;
    text-align: center;
    padding: $padding-m 0;
    background: $purple-gradient, url("../assets/images/bg5.jpg") no-repeat top;
    background-size: cover;
    padding-top: 110px;
    position: relative;
    img {
        width: 100%;
        margin-bottom: 40px;
    }
    
    h1 {
        @include header;
        color: white;
    }
    input {
        margin-right: 10px;
        padding: 12px;
        border-radius: 10px;
        border: none;
        box-sizing: border-box;
        width: 90%;
        font-size: $font-s;
        @include boxshadow;
    }
    p {
        color: $very-light-grey;
        margin-bottom: $padding-s;
        font-size: $font-s;
    }
    button {
        margin-top: $padding-s;
    }
    .listPage__addQuestion__input {
        display: grid;
        grid-template-columns: 1fr;
        // z-index: 100;
        div {
            z-index: 100;
        }
    }
}

.listPage__addQuestion__whiteElipse {
    clip-path: ellipse(73% 87% at 68% 94%);
    background: $very-light-grey;
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
}


@media (min-width: $desktop-breakpoint) {
    .listPage__addQuestion {
        input {
            width: calc(100% - 208px);
        }
        button {
            margin-left: 32px;
        }
        img {
            display: none;
        }
    }
}