.listPage__header {
    background: $very-light-grey;
    padding-top: $padding-m;
    h1 {
        @include header;
        display: inline;
    }
    i, svg {
        color: $light-grey;
        cursor: pointer;
        margin-left: 10px;
        font-size: $font-m;
    }
    hr {
        margin: 10px 0 0 0;
        display: block;
    }
    .listPage__header__content {
        .listPage__header__content__grid {
            display: grid;
            grid-template-columns: 10fr 1fr;
            width: 100%;
        }
        textarea {
            max-width: 100%;
            height: auto;
            resize: none;
            padding: 10px 0;
            width: 100%;
            @include header;
            &:disabled {
                background: transparent;
                border: none;
                color: $off-grey;
            }
        }

        .listPage__edit {
            align-self: center;
            justify-self: end;
        }
    }
}

.listPage__input--enabled {
    background: white;
}



@media (min-width: $desktop-breakpoint) {
    .listPage__header__content {
        display: flex;
        justify-content: space-between;
        i, svg {
            &:hover {
                color: $off-grey;
            }
        }
    }
}