.searchContent {
    background: $very-light-grey;
}

.searchContent__grid {
    display: grid;
    grid-template-columns: 1fr;
    background: $very-light-grey;
    padding: $padding-s 0;
    min-height: 100vh;
}

@media (min-width: $desktop-breakpoint) {
    .searchContent__grid {
        grid-template-columns: 2fr 6fr;
    }
}