.search__sidebar {
    display: none;
}


@media (min-width: $desktop-breakpoint) {
    .search__sidebar {
        display: block;
        margin: $padding-s 20px;
        background: white;
        border-radius: 20px;
        padding: $padding-s;
        // height: 500px;
        @include boxshadow;
        hr {
            margin: 10px 0;
        }
        h1 {
            @include header;
            // font-size: $font-m;
            padding-bottom: 10px;
        }
    }
    
    .search__sidebar__item {
        padding: 5px 0;
        h2, p {
            display: inline;
        }
        h2 {
            padding-right: 5px;
            font-weight: 400;
            font-size: $font-s;
        }
        p {
            color: grey;
        }
        &:hover {
            color: $off-purple;
            cursor: pointer;
        }
    }
}


