.search__sidebar {
    display: none;
}

.search__sidebar__container {
    display: none;
}


@media (min-width: $desktop-breakpoint) {
    .search__sidebar__container {
        display: block;
    }
    .search__sidebar {
        display: block;
        margin: $padding-s 20px $padding-s 10px;
        background: white;
        border-radius: 20px;
        padding: $padding-s;
        @include boxshadow;
        hr {
            margin: 10px 0;
        }
        h1 {
            @include header;
            padding-bottom: 10px;
        }
    }
    
    .search__sidebar__item {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 5px 0;
        h2, p {
            display: inline;
        }
        h2 {
            padding-right: 5px;
            font-weight: 400;
            font-size: $font-s;
            margin: 0;
        }
        p {
            color: grey;
        }
        i, svg {
            color: $light-grey;
        }
        &:hover {
            color: $off-purple;
            cursor: pointer;
            i, svg {
                color: $off-purple;
            }
        }
    }
}


