.navbar__loggedIn {
    background: $black-gradient, url("../assets/images/bg5.jpg") no-repeat center;
    color: white;
    // position: fixed;
    // width: 100%;
    h1 {
        display: inline;
        cursor: pointer;
        z-index: 400;
    }
}

.navbar__loggedIn__div {
    display: flex;
    justify-content: space-between;
}