.navbar {
    position: fixed;
    color: white;
    background: transparent;
    width: 100%;
    z-index: 400;
    h1 {
        margin: 0;
        cursor: pointer;
    }
}

.navbar__loggedOut {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

.navbar__loggedOut--white {
    opacity: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.navbar__loggedOut--black {
    opacity: 1;
    color: $off-grey;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.navbar__white {
    color: white;
}


#drawer {
    position: fixed;
    color: white;
    height: 100vh;
    width: 100vw;
    background: $black-gradient, url("../assets/images/bg4.jpg") no-repeat center;
    padding-top: 120px;
    z-index: 300;
    right: 0;
    text-align: center;
    -webkit-box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
    -moz-box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
    box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
    transform: translateX(-100vw);
    transition: transform 400ms ease-in;
    h1 {
        @include header;
        font-size: $font-l;
        padding: 20px 60px;
        cursor: pointer;
    }
    p {
        
        top: calc(100vh - 80px);
        position: absolute;
        margin: 0 auto;
        width: 100%;
        svg, i {
            padding: 0 20px;
            color: $light-grey;
            font-size: $font-l;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}
#drawer.slideIn {
    transform: translateX(0);
}
#drawer.slideOut {
    transform: translateX(150vw);
}


  @media (min-width: $desktop-breakpoint) {
    #drawer {
        width: 400px;
        padding-top: 100px;
        text-align: left;
        -webkit-box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
        -moz-box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
        box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
        transform: translateX(-400px);
        transition: transform 400ms ease-in;
        h1 {
            @include header;
            font-size: $font-l;
            padding: 20px 60px;
            cursor: pointer;
        }
        p {
            padding-left: 40px;
        }
      }
      #drawer.slideIn {
        transform: translateX(0);
      }
      #drawer.slideOut {
        transform: translateX(460px);
      }
  }